* {

    box-sizing: border-box;

}
 
body {

    font-family: Arial, sans-serif;

    font-weight: 400;

    font-size: 1.2rem;

    line-height: 1.4;

    color: darkblue;

    background-color: whitesmoke;

}
 
img {

    max-width: 100%;

    height: auto;

    width: auto;

}
 
a {
    color: darkred;
    text-decoration: none;
}
 
a:hover {
    color: purple;
    text-decoration: underline;
    font-weight: bold;
}
 
.avatar {
    max-width: 200px;
    text-align: center;
    box-shadow: 7px 7px 21px rgba(0, 0, 0, 0.3);
}
 
