* {
    box-sizing: border-box;
}
 
body {
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.4;
    color: #FFFFFF;
    background-color: black;
    list-style-position: inside;
    max-width: 800px;
}
 
.menu {
    text-align: center;
}
 
nav {
    text-align: center;
    font-weight: bold;
}
 
h1 {
    text-align:center;
    font-family: "Times New Roman", Times, serif;
    color: red;
    background-color: white;
    border: 6px solid red; /* épaisseur, style, couleur */
    padding: 10px;
}
 
img {
    max-width: 100%;
    height: auto;
    width: auto;
}
 
h2 {
    text-align: center;
}
 
h3 {
    text-align: center;
}
 
 
a {
    color: darkred;
    text-decoration: none;
}
 
a:hover {
    color: purple;
    text-decoration: italic;
    font-weight: bold;
}
 
.avatar {
    max-width: 100px;
    text-align: center;
    box-shadow: 7px 7px 21px rgb(255, 0, 0);
}
